<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s7.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Dreadlocks</h5>
					<p class="card-text">We do short & extension hair dreadlocks</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='../images/s5.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Manicure & Pedicure</h5>
					<p class="card-text">Nail treatment</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s2.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Reflexology</h5>
					<p class="card-text">Hands & feet massage</p>
				</div>
			</div>
		</div>
