<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s2.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Tourist attraction Recommendation & Travels</h5>
					<p class="card-text">We recommend, guide, and provide tourism services to our clients.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='../images/s5.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Toursits Accomodations</h5>
					<p class="card-text">We help you to find an afforbable and well equiped accomodation</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s4.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Restaurant Services</h5>
					<p class="card-text">We help our clients find their favorite dishes with good restaurant services while having their time in Rwanda.</p>
				</div>
			</div>
		</div>
