<div class="common-bg-color" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p
						data-aos="zoom-in"
						class="text-center header-size font-size"
					>
						What we do
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/view.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>DRUMMING IN ACTION</h5>
						<p class="card-text text-dark" id="text-service">
							We bring out that strong beat out of the strong drum heritage from Burundi.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/s1.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>SKYING WITH THE DANCE</h5>
						<p class="card-text text-dark" id="text-service">
							We conquer your presence, and take you to our world of endless drama.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/s2.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>STUNNING DANCE MOVES</h5>
						<p class="card-text text-dark" id="text-service">
							Strong men performing what they can do best.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/s4.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>FULL TEAM AT COMPETETIONS</h5>
						<p class="card-text text-dark" id="text-service">
							We participated and reached the semi-final of East Africa Got Talent competitions in Kenya in year 2019.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/s5.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>ENERGY WE DELIVER</h5>
						<p class="card-text text-dark" id="text-service">
							We are the living proof of true cultural dancers
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/s7.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>THE PASSION IN OUR DANCE</h5>
						<p class="card-text text-dark" id="text-service">
							We give you full energy results because we do it with full love.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
