<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s6.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hair cutting</h5>
					<p class="card-text">A sleeping kid being worked on by our barbers</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='../images/s5.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hair styling</h5>
					<p class="card-text">A kid after styling the hair.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s1.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Hair washing</h5>
					<p class="card-text">A smiling kid after being washed by our hair-dresser.</p>
				</div>
			</div>
		</div>
