<div class="common-bg-color" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 col-12">
				<div class="card-deck ">
					<div class="card mb-4 ">
						<img class="card-img-top img-fluid" src="./images/Accomodations_(4).jpg"  alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Long term and short term accommodation</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-12 ">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/city_tour.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Hospitality consultancy</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/chuttersnap-OB7ol699Iww-unsplash.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Hospitality training</h4>
						</div>
					</div>
				</div>
			</div>
		
	
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/Car_Hire_(1).jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Car hire,city tours and safaris</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/tour_guide_(2).jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Tour guides</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/air.jpg"  alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Airticketing</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
