<div class="common-bg-color" id="service">
	<div class="container">
		<h2 class="text-center" id="service">WHAT WE DO</h2>
		<div class="row">
			<div class="col-md-6 col-lg-4 col-12">
				<div class="card-deck ">
					<div class="card mb-4 ">
						<img class="card-img-top img-fluid" src="./images/acco.jpg"  alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Long term and short term accommodation</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-12 ">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/city.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Hospitality consultancy</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/intern.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Hospitality training</h4>
						</div>
					</div>
				</div>
			</div>
		
	
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/rent cars.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Car hire,city tours and safaris</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/tour.jpg" alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Tour guides</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card-deck">
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="./images/ticket.jpg"  alt="Card image cap">
						<div class="card-body">
						<h4 class="card-title">Airticketing</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
