<div class="common-bg-color" id="service">
	<div class="container">
		<h2 class="text-center" id="service">WHAT WE DO</h2>
		<div class="row padding">
			<div class="col mb-4">
				<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
					<img src="../images/car hire.webp" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Long term and short term accommodation</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
					<img src="../images/gettyimages-10180075-170667a.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Hospitality consultancy</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
					<img src="../images/web_banner_COVID_Accomodation_2020.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Hospitality training</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
	
	
	
		</div>
		<div class="row padding">
			<div class="col mb-4">
				<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
					<img src="../images/pexels-andrea-piacquadio-3771110.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Car hire,city tours and safaris</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
					<img src="../images/safari.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Tour guides</h5>
						<p class="card-text">.</p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
					<img src="../images/ticketing.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Airticketing</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
		
		
		
		</div>
	</div>
</div>
