<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/pm.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">PESTICIDE MANAGEMENT</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Ut, blanditiis quo. Dolores eius enim
						reiciendis in vero officia delectus atque
						voluptatum quas alias. Nihil, eligendi!</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/French_bean.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">FRESH BEANS</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur 
						adipisicing elit. Ut, blanditiis quo. Dolores eius enim
						 reiciendis in vero officia delectus atque
						  voluptatum quas alias. Nihil, eligendi!</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/avocad.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">AVOCADOES</h5>
					<p class="card-text">Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Ut, blanditiis quo. Dolores eius enim
						reiciendis in vero officia delectus atque
						voluptatum quas alias. Nihil, eligendi!</p>
				</div>
			</div>
		</div>
