<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/cover.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Braided Cheese</h5>
					<p class="card-text">We bring you the best cheese across the globe.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='../images/s4.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">White Cheese</h5>
					<p class="card-text">We deliver well packed cheese</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="../images/s7.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Mozzarella Cheese</h5>
					<p class="card-text">For easy deals with us you can reach out to our offices as described in the contact.</p>
				</div>
			</div>
		</div>
