<div class="" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="">
					<p data-aos="zoom-in" class="text-center header-size font-size">
						Know about us
					</p>
				</div>
			</div>
				
</div>
	<div class="row">
		<div class="col-sm-4 w-100" >
			<div class="">
				<p data-aos="zoom-in" class="text-center header-size font-size">
					Mission
					<p class="text-center " id="mission">Center-aligned text.</p>
				</p>
			</div>
			
		</div>


		<div class="col-sm-4 w-100">
			<div class="">
				<p data-aos="zoom-in" class="text-center header-size font-size">
				vision
					<p class="text-center h-100" id="visions">Center-aligned text.</p>
				</p>
				</p>
			</div>
			
		</div>
</div>
</div>
</div>
