<div class="common-bg-color" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p
						data-aos="zoom-in"
						class="text-center header-size font-size"
					>
						What we do
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4  p-5 col-xs-12 col-sm-12 ">
				<div data-aos="flip-up" class=" text-white bg-success card h-100 mb-4 ">
					<img name="imgservice" class="card-img-top " alt="..." />
					<div class="card-body ">
						<h5
						 class="card-title"
							id="title-service"
						></h5>
						<p  class="card-title" id="text-service"></p>
					
					</div>
					<div class="card-footer text-center">price
						<h5
					
					
						></h5>
						<strong><p  class="card-title" id="text-footer"></p></strong>

					</div>
					
				</div>
				
			</div>
			
			<div class="col-md-4 p-5  col-xs-12 col-sm-12 ">
			   <div data-aos="flip-up " class=" text-white bg-secondary card h-100 mb-4 ">
				  <img class="card-img-top " alt="..." src="./images/dress_1.jpg"  >
				  <div class="card-body ">
					 <h5 class="card-title text-center">DESIGNER

					 </h5>
					 <p class="card-text">Personally I’ve always met people telling me,” I have a whole kitenge cloth but I don’t know what they should make” or the most common mistakes; approaching their seamstress friends in their neighborhood and expect them to know what to sew, a very wrong assumption that most of the times ends in tears or you not wearing the thing, A SISTA is willing to help for a very reasonable fee.</p>
				  </div>
			   </div>
			</div>
			<div class="col-md-4 p-5 col-xs-12 col-sm-12">
				<div data-aos="flip-up " class=" text-white bg-primary card h-100 mb-4 ">
				   <img class="card-img-top" alt="..." src="./images/skirt_1.jpg" >
				   <div class="card-body">
					  <h5 class="card-title text-center">STYLIST
 
					  </h5>
					  <p class="card-text">If you like looking great and you struggle with your outfit choices, I would like to help you bring out the best of your wardrobe while letting you express yourself in the best way.
						hire me and I’ll spend a significant time with you helping you discover what goes with your body type and the vast range of styles you would certainly rock.</p>
				   </div>
				</div>
			 </div>
		 </div>
</div>	

</div>
