<div class="common-bg-color" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p
						data-aos="zoom-in"
						class="text-center header-size font-size"
					>
						What we do
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/dress_1.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>LOOK GOOD, FEEL GOOD</h5>
						<p class="card-text text-dark" id="text-service">
							'If you like looking great and you struggle with your outfit choices, I would like to help you bring out the best of your wardrobe while letting you express yourself in the best way
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/earrings_1.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>ICONIC EARINGS</h5>
						<p class="card-text text-dark" id="text-service">
							We have a wide range of creatively designed earrings made from Rwanda
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/earrings_2.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>GREAT EARRINGS</h5>
						<p class="card-text text-dark" id="text-service">
							A wide range of creatively designed earrings made from Rwanda
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/earrings_3.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>MORE EARRINGS</h5>
						<p class="card-text text-dark" id="text-service">
							Good quality earrings designed and made from Rwanda
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/skirt_1.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>FASHIONABLE DRESS</h5>
						<p class="card-text text-dark" id="text-service">
							Hire me and I’ll spend a significant time with you helping you discover what goes with your body type and the vast range of styles you would certainly rock
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div data-aos="flip-up" class="card h-100">
					<img class="card-img-top" alt="..." src="../images/dress_2.jpg" />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						>MORE DRESSES</h5>
						<p class="card-text text-dark" id="text-service">
							A perfect fit
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
