 <div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-uo">
				<img src="../images/s4.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Electronic devices</h5>
					<p class="card-text">We sell electronic devices to our clients</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-up">
				<img src='../images/cover.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Repair centre & install apps</h5>
					<p class="card-text">We repair your devices such as computers, phones and radios. We also provide application installation services.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-down">
				<img src="../images/s2.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Spare parts</h5>
					<p class="card-text">We provide and sell good quality electronic spare parts.</p>
				</div>
			</div>
		</div>
