html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5em;
}

.nav-link {
  color: black
}

.intro-section {
  position: relative;
  padding: 0;
}

.intro-section img {
  width: 100%;
  height: 600px;
  display: block;
}

.intro-section::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%)
    repeat 0 0;
  z-index: 1;
}

.read-text {
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-weight: 500;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.font-awesome-underline {
  text-decoration: none;
}

.img-circle {
  border-radius: 200px;
}

/*================ CONTACT US SECTION ==============================*/
.icons-container {
  width: 40px;
}

.social-icons {
  font-size: 2em;
  color: black;
}

.social-icons:hover {
  color: #fff;
  background-color: #7b4811;
}

/*================ END CONTACT US SECTION ==============================*/

.common-bg-color {
  background-color: #442A19;
  color: black;
}

.header-size {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.subheader-size {
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .pm {
    width: 100% !important;
  }

  .intro-section img {
    width: 100%;
    height: auto;
    display: block;
  }

  .contact {
    display: none;
  }

  .margin-top {
    margin-top: 15x;
  }

  .font-size {
    font-size: 35px;
  }

  .team-mobile {
    margin: auto;
    display: block;
    text-align: center;
  }
}

#about, #service, #contact, #team {
  padding-top: 100px;
  margin-top: 20px;
}
#about {
  background-color: #7b4811;
}
.row div {
  margin-bottom: 20px;
}

/*================ beginning==============================*/
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/*================cards==============================*/
.card-title{
  color: black;
}

#text-service{
color: #fff;
}
#text-footer{
  background-color: azure;
  width: 100%;

}
#text-footer{
  color:black;
}
#title-service{
  text-align: center;
}

/*================end of mycss ==============================*/

