<div class="container">
	<h2 class="text-center" id="service">WHAT WE DO</h2>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/banana.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Bananas</h5>
					<p class="card-text">Bananas: are rich in vitamin B6 and 
						they are a good source of fiber, vitamin C, magnesium, 
						and potassium. The potassium found in bananas helps to 
						regulate blood pressure and may reduce the risk of high blood pressure and stroke. </p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/orange.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Oranges</h5>
					<p class="card-text">Oranges: are a good source of 
						fiber and potassium, both of which can support heart health. Consuming enough
						 vitamin C found in oranges can help a person maintain skin health and appearance.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/papay.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Papaya</h5>
					<p class="card-text">Papaya: is good for many digestive disorders and is excellent for
						 improving poor digestion. It has also been recommended as part of the treatment for cancer. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/apple.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Apple</h5>
					<p class="card-text">Apple: Eating the fruit with the skin on is important as the
						 skin of an apple contains pectin that can help remove toxic substances from the system.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/pin.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Pineapple</h5>
					<p class="card-text">Pineapple: is also an excellent source of manganese, a mineral essential in some of the enzymes necessary in the body for energy
						 production. When you eat pineapples, you have a better chance of having a healthier life.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/avocado.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Avocados</h5>
					<p class="card-text">Avocados have more soluble fiber than other fruit and contain a number of useful
						 minerals such as iron, copper, and potassium, and are a good source of the B vitamin, folate.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/mango.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Mango</h5>
					<p class="card-text">mango: Being high in iron, mango is said to be very good for
						 pregnant women as well as for people suffering from anemia. Mango is high in Iron.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/passion.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Passion-fruits</h5>
					<p class="card-text">Passion-fruits: benefits 
						those who eat them by providing the body with high doses
						 of Vitamin A and C. Vitamin A helps the body to remove free 
						 radicals that cause skin and tissue damage, and it helps to improve our vision. Meanwhile, 
						Vitamin C helps to repair tissue, helps prevent heart disease and cancer, and helps our bones.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/lemon.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Lemon</h5>
					<p class="card-text">Lemon: Good for the stomach. Lemon can help relieve
						 many digestion problems when mixed with hot water. Good for Weight Loss.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/gue.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Guava</h5>
					<p class="card-text">Guava: Guava is a very good source of vitamins, 
						fibers as well as minerals. Being rich in Vitamin C; guava is effective in treating male infertility
						 caused by sperm clumping, adhesion, and other abnormalities.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/tomatoe.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Tomatoes</h5>
					<p class="card-text">Tomatoes are known for their blood purifying properties. For people who sufferers from the congestion of the liver,
						 having tomatoes will prove to be quite beneficial.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/onion.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Onions</h5>
					<p class="card-text">Onions: maybe useful herbs for the prevention of cardiovascular disease, especially since they diminish the risk of blood clots. Onion also protects against stomach and other cancers, as well as protecting against certain infections.
						 Onion can improve lung function, especially in asthmatics.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/garic.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Garlic</h5>
					<p class="card-text">Garlic: contains the amino acid, which has antibiotic 
						and bactericidal effects. It is believed to promote cardiovascular activity and beneficial,
						 soothing action on the respiratory system.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/carrot.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Carrots</h5>
					<p class="card-text">Carrots: are one of the foods richest in beta-carotene,
						 which is a vitamin A precursor. Our body transforms it into vitamin A. Carrots can help improve eyesight.
Carrots can help increase menstrual flow. Carrots can regulate blood sugar.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/pea.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Peas</h5>
					<p class="card-text">Peas: are rich in protein and carbohydrates but low in fats. They are a good source of fiber and iron as well as vitamins A and C.  
						Peas are rich in water-soluble fiber which helps promote good intestinal health.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding">
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/bet.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Beetroot</h5>
					<p class="card-text">Beetroot: contains the bioactive agent betaine, which supports healthy liver function. When the liver is functioning properly, fats are broken down efficiently, 
						aiding weight loss, and preventing fatigue and nausea. </p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card p-3 shadow mb-5 bg-body rounded h-100" data-aos="flip-right">
				<img src='./images/eggplant.jpg' class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Eggplant</h5>
					<p class="card-text">Eggplant: Eggplant is extremely high in fiber and this can 
						help prevent constipation, colitis, and hemorrhoids.</p>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card shadow p-3 mb-5 bg-body rounded h-100" data-aos="flip-left">
				<img src="./images/French beans.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">French beans</h5>
					<p class="card-text">French beans: they are an excellent source of Vitamin K. They are a good source of folate, manganese, and Vitamin C. Green Beans benefit in nutritional deficiencies, heart diseases, losing weight, constipation,
						 pregnancy, infections, joint diseases, depression, and cancer.</p>
				</div>
			</div>
		</div>
	</div>
</div>